RewriteEngine On
# Set if needed.
#RewriteBase /CRUDlexSample/web/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . index.php [L]
Options +Indexes +FollowSymLinks +ExecCGI
