RewriteEngine On
RewriteBase /~philiplb/CRUDlexSample/web/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /~philiplb/CRUDlexSample/index.php [L]
Options +Indexes +FollowSymLinks +ExecCGI
